@model Student

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.StudentName)</h2>


<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Birthday)
        </dd>
    </dl>
    
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    
</div>