@model Subject

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.SubjectTitle)</h2>


<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => modelItem.Course.Title)
        </dd>
    </dl>
    
    <form asp-controller="Subject" asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>